.home #description a:hover,
body.page form button:hover {
  background-color: rgb(var(--red), var(--green), var(--blue));
  color: #fff;
  text-decoration: none;
}

.home #description a:focus,
body.page form button:focus {
  box-shadow: 0 0 0 0 #fff,0 0 0 calc(4px + 0px) rgba(59,130,246,.5),0 0 transparent;
}

.home #description h1 strong,
.home section:first-of-type h2 strong,
.page main h2 strong {
  font-weight: 700;
  color: rgb(var(--red), var(--green), var(--blue));
  text-shadow: 0 0 1px rgba(0,0,0,20%),0 0 1px rgba(1,0,5,10%);
}

.home #description {
    background-color: #fff;
    min-height: 100vh;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-bottom: 2.5rem;
  }
  .home #description p {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #000;
  }
  .home #description a {
    background-color: #fff;
    border-radius: .75rem;
    border: 2px solid rgb(var(--red), var(--green), var(--blue));
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem 1rem;
    color: rgb(var(--red), var(--green), var(--blue));
    text-decoration: none;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    margin-bottom: 2.5rem;
  }
  .home #description h1 {
    margin-top: 2.5rem;
    text-align: center;
  }
  .home #description h2 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: 5rem;
  }
  .home #description hr {
    clear: both;
    scroll-snap-align: start;
  }
  .home #description img {
    border-radius: .125rem;
    float: left;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    width: 100%;
  }
  .float-right,
  .home #description hr:nth-of-type(odd)~p img {
    float: right;
  }
  .home #description p {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  .home #description a {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: .75rem 1.25rem;
  }
  .home #description hr~h2,
  .home #description hr~p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .home #description img {
    border-radius: .375rem;
    margin: 2.5rem 1rem;
    max-width: 24rem;
  }
  .home #description h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .75rem;
  }
  .home #description a,
  .home section:first-of-type>a {
    padding: 1rem 1.5rem;
  }
  .home #description p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .home #description h1 {
    margin-top: 5rem;
  }
  .home #description h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2.5rem;
  }
  .home #description img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 36rem;
  }

  @media (min-width:768px) {
    .home #description {
      padding-left: 0;
      padding-right: 0;
    }
  }
