.main #blog {
padding-top: 1.75rem;
padding-bottom: 1.75rem;
}
.main #blog .posts {
padding-left: 1.25rem;
padding-right: 1.25rem;
}
.main #blog h1 {
background-color: #fff;
text-align: center;
}

.posts {
display: flex;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-around;
margin-left: auto;
margin-right: auto;
}
html body .post a {
text-decoration: none;
}
.post {
background-color: #fff;
border: 2px solid transparent;
cursor: pointer;
overflow: hidden;
padding: .5rem;
transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.post:hover {
border-color: rgba(209,213,219,.4);
border-radius: .5rem;
box-shadow: 0 0 transparent,0 0 transparent,0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
transition-property: all;
transition-timing-function: cubic-bezier(.4,0,.2,1);
transition-duration: .3s;
filter: contrast(1.5) saturate(1.5) drop-shadow(0 1px 2px rgba(0,0,0,.1)) drop-shadow(0 1px 1px rgba(0,0,0,.06));
transform: scale(1.02);
z-index: 9;
position: relative;
}
.post:hover a:before {
content: " ";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
box-shadow: inset 0 0 2000px hsla(0,0%,100%,.3);
}
.post img {
display: inline-block;
height: 16rem;
object-fit: cover;
width: 100%;
}
.post div {
font-weight: 700;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: rgb(var(--red), var(--green), var(--blue));
}
.post div:hover {
text-decoration: underline;
}
.post h2 {
font-weight: 700;
font-size: 1.25rem;
line-height: 1.75rem;
padding-bottom: .75rem;
padding-top: 2rem;
color: #1f2937;
}
.post article {
color: #4b5563;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}