.main #intro {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.main #intro li a:hover {
  text-decoration: underline;
}

.main #intro li {
  display: inline-block;
  font-size: .75rem;
  line-height: 1rem;
}
.main #intro li a {
  display: inline-block;
  padding: .75rem;
}
.main #intro {
  /* padding-bottom: 2.5rem; */
  position: relative;
}

.main #intro h1 {
  font-size: 70px;
  font-weight: 600;
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  color: #C06C84;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
