.main #testimonials h1:after {
background-color: #f3f4f6;
}
.main #testimonials {
display: flex;
flex-direction: column;
align-items: stretch;
padding-top: 1.75rem;
padding-bottom: 1.75rem;
background-color: rgba(var(--red), var(--green), var(--blue), .7);
margin: 0;
max-width: none;
color: #fff;
/* width: 100vw; */
}
.main #testimonials h1 {
flex-grow: 0;
text-align: center;
text-shadow: 0 1px 2px rgba(30,29,39,19%),1px 2px 4px rgba(54,64,147,18%);
}
.main #testimonials > div {
/* display: flex;
align-items: center;
flex-grow: 1; */
margin-left: auto;
margin-right: auto;
/*overflow: scroll;
scroll-snap-type: x mandatory;
width: 100vw; */
}
.main #testimonials ol {
display: flex;
padding: .75rem;
/* width: fit-content; */
}
.main #store ul li:hover .price,
.main #store ul li:hover h2,
.main #testimonials ol:hover li {
color: #000;
}
.main #testimonials li {
scroll-snap-align: center;
background-color: #fff;
border-radius: .125rem;
display: flex;
flex-direction: column;
justify-content: space-between;
font-size: 1.125rem;
line-height: 1.75rem;
padding: 1.5rem .75rem;
box-shadow: 0 0 transparent,0 0 transparent,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
text-align: center;
color: #1f2937;
width: calc(100vw - 4rem);
margin: .5rem;
}
.main #testimonials li:hover {
box-shadow: 0 0 transparent,0 0 transparent,0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);
}
.main #testimonials li > div {
margin-top: 2rem;
}
.main #testimonials li h2 {
display: block;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
text-align: left;
}
.main #testimonials li h2:before {
content: "-";
display: inline-block;
text-align: left;
width: .75rem;
}
.main #testimonials li h3 {
font-size: 1rem;
line-height: 1.5rem;
padding-left: .75rem;
padding-right: .75rem;
text-align: left;
}
.main #testimonials li .twitter-tweet {
font-size: 0;
visibility: hidden;
}
.main #testimonials li .twitter-tweet p {
display: inline-block;
font-size: 1.125rem;
line-height: 1.75rem;
visibility: visible;
}
.main #testimonials li .twitter-tweet p:before,
.main #testimonials li > p:first-of-type:not(:empty):before {
content: " ";
background-position-y: top;
float: left;
height: 100%;
opacity: .5;
width: 1.5rem;
background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24"><path fill="rgb(79, 70, 229)" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 01-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 01-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z"></path></svg>') top no-repeat;
margin-top: -10px;
margin-bottom: 10px;
min-height: 30px;
}
@media (min-width:640px) {
.main #testimonials li .twitter-tweet p {
font-size: 1.25rem;
line-height: 1.75rem;
}
.main #testimonials > div {
max-width: 640px;
width: 612px;
}
}
.main #testimonials li:first-child {
margin-left: 1rem;
}

@media (min-width:768px) {
.main #testimonials ol {
padding: 1.75rem;
}
.main #testimonials li {
border-radius: .5rem;
font-size: 1.5rem;
line-height: 2rem;
padding: 2.5rem 1.75rem;
margin: 1rem;
width: 622px;
}
}
@media (min-width:1024px) {
.main #testimonials ol {
    padding: 2.5rem;
}
.main #testimonials li {
    padding: 5rem 2.5rem;
    margin: 1.25rem;
    width: 850px;
}
}

@media (min-width:1280px) {
.main #testimonials>div {
    max-width: 1280px;
}
}
@media (min-width:1536px) {
.main #testimonials>div{
    max-width: 1536px;
}
}